.infoBox {
    flex: 1;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox__cases {
    color: #cc1034 !important;
    font-weight: 600 !important;
    font-size: 1.75rem !important;
    margin-bottom: 0.5rem !important;
  }
  
  .infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }
  